h1 {
  text-align: center;
}

.products-section {
  padding: 20px;
}
.product {
  padding: 10px;
  border: solid 1px lightgrey;
  width: 200px;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 5px;
}
.product img {
  width: 100%;
}
.product h3 {
  border-bottom: solid 1px lightgrey;
}
.product p {
  font-size: 20px;
  text-align: right;
}
.product button {
  float: right;
  cursor: pointer;
}
.deleted {
  text-decoration: line-through;
  color: red;
  font-size: 17px;
}
